<link rel="stylesheet"
    href="https://irithys.com/scss/style.min.ee83f8a979147620aff19c8df9673a6b61c7a2193422fae5f9088a774b30f3f3.css">


<section class="widget mastodon-widget">
    <h2 class="widget-title section-title" style="flex: 0 0 auto; margin-left: auto;">动态🕑</h2>
    <div id="widget-mastodon--list" class="widget-mastodon--list" style="flex: 0 0 auto; margin-left: auto;">
        <div class="main" style="padding-right: 20px;">
            <div class="item">
                <div class="content">
                    <p>这辈子第一次通宵，很开心，接着要好好学习了 <img class="emoji"
                            src="https://user-images.githubusercontent.com/140466644/271763837-8311e31f-2cd2-4e65-b1be-edddfd728b0a.png">。
                    </p>
                </div>
                <div class="time">
                    2023-9-30 16点48分
                </div>
            </div>
        </div>
    </div>
</section>